<!DOCTYPE html>
<html lang='fr'>
    <head>
    <meta charset="UTF-8">
    <meta name="description" content="Ceci est une formulaire de candidature pour suivre une formation de développeur à Simplon"/>
    <title>Candidature</title>
    <link type="stylesheet" rel="text.css" href="formulaire.css" media="all">
</head>
    <body>
    </body>
</html>
