<!DOCTYPE html>
<html lang='fr'>
    <head>
    <meta charset="UTF-8">
    <meta name="description" content="Ceci est une formulaire de candidature pour suivre une formation de développeur à Simplon"/>
    <title>Candidature</title>
    <link type="stylesheet" rel="text.css" href="formulaire.css" media="all">
</head>
    <body>
    <div id="header">
<h1>Demo#form</h1>
        <h3>Test de formulaire</h3>
        <p>Première prise en main de Rails</p>
<form action="/create" method='post' name='candidate' enctype='application/x-www-urlencoded' accept-charset="UTF-8">
            <fieldset>
             <legend>Civilité</legend>
                <p>
                    <select>
                        <option>Mme</option>
                        <option>Mr</option>
                    </select>
                </p>
                 <p><label for="name" >Nom : <input  type="text" name="last_name" id="last_name"/></label><label for="firstname" >Prénom : <input  type="text" name="first_name" id="first_name"/></label>
                 </p>
                 <p>
                 <label for="email">Courriel : <input type="email" name="email" id="email"/></label>
                 </p>
                 <p>
                 <label for="address">Adresse 1 : <input type ="text" name="address_1" id="address_1"/></label>
                 </p>
                 <p>
                 <label for="address">Adresse 2 : <input type ="text" name="address_2" id="address_2"/></label>
                 </p>
                 <p>
                 <label for="cp">Code postal</label>
                 <input type="text" name="zipcode" id="zipcode"/> 
                 <label for="ville">Ville</label>
                 <input type="text" name="city" id="city"/>
                 </p>
            </fieldset>
            <fieldset>
                <legend>Questionnaire</legend>
                    <h4>Votre expérience avec le code</h4>
                    <p><label for="">html</label>
                    <input type="checkbox" name="langage" value="html" id="html"/>
                    <label for="">Javascript</label>
                    <input type="checkbox" name="langage" value="javascript" id="javascript"/>
                    <label for="">Ruby</label>
                    <input type="checkbox" name="langage" value="ruby" id="ruby"/>
                    <label for="">Python</label>
                    <input type="checkbox" name="langage" value="python" id="python"/>
                    <label for="">Autres</label>
                    <input type="checkbox" name="langage" value="autres" id="autres"/><textarea maxlength="250" wrap="hard"></textarea>
                    </p>
            </fieldset>
            <input type="submit"/>
        </form>
        </div>
     </body>
</html>
