<h1>application/show</h1>

<p>
  <strong>Why_us:</strong>
  <%= @application.why_us %>
</p>
 
<p>
  <strong>Computer_experience:</strong>
  <%= @application.computer_experiences %>
</p>

<%= link_to 'Back', applications_path %>
