<h1>Welcome on Simplon's application !</h1>

So you wanna be a coder and enroll Simplon for 6 exiting months ?
Show us your motivation !

<center><%= link_to "Apply for Simplon", new_application_path %></center>
