<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We acknowledge your application, <%= @applicant.name %></h1>
    <p>
      You have successfully applied to Simplon.co.<br>
    </p>
    <p>Thanks you and have a great day!</p>
  </body>
</html>