<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <img src="https://pbs.twimg.com/profile_images/378800000016910707/80f09b042a8c2a2b53f06b391ab63ab4_400x400.png" alt="simplon_bannier"/>
    <h4>Merci pour ta candidature <%= @applicant.name %> ! </h4>
    <p>Nous te recontacterons prochainement !</p><br>
    <h4>L'équipe Simplon</h4>
    <img src="http://static.tumblr.com/991b6acd4abf02f3f60f8c1844bb4cb9/ykxxbbi/fSomppqmu/tumblr_static_logo_simplonco_rect_coul_noir400px.png" alt="simplon_bannier"/>
  </body>
</html>