/*
 *= require_tree .
 *= require_self
 */

body{
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  background: rgb(255,255,255);
}

h1 {
    text-align: center;
    color: red;
}

h2 {
    text-align: center;
    color: red;
}

p {
    text-align: center;
    color: black;
}

