/*
 *= require_tree .
 *= require_self
 */

body {
	padding-top: 10px;
    font-family: "futura-pt";    
    line-height: 1.4em;
    text-transform: none;
    letter-spacing: 0px;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    color: #666;
    background-color: #FFFFFF;
}

h1 {
    font-size: 20px;
    text-align: right;
    color: red;
}

h2 {
    font-size: 16px;
    text-align: left;
    color: #131350;
}

.formulaire {
	/*background-color: #131313;*/
    font-size: 14px;
    font-color: #FFFFFF;
    margin-bottom: 10px;
    /*opacity: .5;*/  
    padding: 50px
}

#header {
	font-family: "futura-pt";
	font-size: 16px;
	font-color: #131313;
    text-align: right;
    border-bottom: 2px solid #D3D3D3;
    padding: 10px;
}

#navbar {
    
}

#logo {

}


#cadre {
    margin: 50px;
}

